In [33]:
import pandas as pd
dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y %H:%M')

In [36]:
df = pd.read_csv("../data/data.csv", parse_dates=['Date'])

In [37]:
df.shape

(102991, 4)

In [42]:
df.head(100)

   Network_Element_id                Date     Hour  KPI_value
0             GGCBT18 2019-01-01 00:00:00  0:00:00  72.212479
1             GGCBT11 2019-01-01 00:00:00  0:00:00  82.722656
2             GGBNB02 2019-01-01 00:00:00  0:00:00  67.719064
3             GGBNB01 2019-01-01 00:00:00  0:00:00  65.954449
4             GGCBT14 2019-01-01 00:00:00  0:00:00  55.161517
..                ...                 ...      ...        ...
95            GGBNB01 2019-01-01 04:00:00  4:00:00  22.944110
96            GGCBT14 2019-01-01 04:00:00  4:00:00  18.546629
97            GGCBT17 2019-01-01 04:00:00  4:00:00  26.667294
98            GGCBT16 2019-01-01 04:00:00  4:00:00  17.496616
99            GGCBT15 2019-01-01 04:00:00  4:00:00  27.131597

[100 rows x 4 columns]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102991 entries, 0 to 102990
Data columns (total 4 columns):
Network_Element_id    102991 non-null object
Date                  102991 non-null datetime64[ns]
Hour                  102991 non-null object
KPI_value             102991 non-null float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.1+ MB

In [44]:
df.describe()

           KPI_value
count  102991.000000
mean       47.945163
std        25.222759
min         0.000000
25%        31.225103
50%        54.700695
75%        68.238598
max       358.083077

In [45]:
df['KPI_value'].value_counts()

0.000000e+00    11
3.700000e-09     4
1.850000e-09     4
1.110000e-08     3
7.410000e-09     3
                ..
6.746869e+01     1
1.903979e-01     1
4.058240e+01     1
2.125109e+01     1
6.087912e+01     1
Name: KPI_value, Length: 101846, dtype: int64

In [50]:
df.drop('Hour', axis=1, inplace=True)

KeyError: "['Hour'] not found in axis"